*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
iframe {
    border:0;
}

:root {
    --basic-red: #ee3643;
    --basic-green: #63a63e;
    --basic-grey: #3d546f;
    --basic-greylight: #c5c5c5;
    --basic-bluedark: #293449;
    --basic-background: #f1f5f7;
    --basic-text: #32425c;
    --basic-black: #000000;
    --basic-white: #ffffff;
    --widht: #ffffff;
    --special-yellow: #ffbf47;
    --special-blue: #3bbce3;
    --special-lilac: #dc91d8;
    --special-greenlight: #8ed78f;
    --special-yellowlight: #ffd180;
    --special-success: #5fbb2d;
    --special-warning: #ffbf47;
    --special-error: #ba2732;
    --special-footer-text: #f3f7f9;
    --special-icon-socialnet:#212a3a;
    --special-list-nav-background: #1d2739;
    --special-dark-background: #161d29;
    --special-old-coast: #a9a9a9;
    --special-background-popular:#f9f5f0;
    --special-background-grey:#f2f6f8;
    --special-background-orange:#ffc047;
    --special-background-beige: #f7f3ec;
    --special-background-darkgreen: #518534;
    --special-slider-header: rgba(0, 0, 0, 0.25);
    --special-range-line: #d7dcde;
    --special-range-green-line:#00ca74;
    --special-range-control: #ababab;
    --special-range-separator: #444444;
    --special-range-button: #e5e5e5;
    --special-modal-bg-grey: #f4f4f4;
    --special-filter-grey: #b5b5b5;
    --special-card-product-border:#eaeaea;
}

/*Global*/

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: none;
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-content {
    width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

/*Header*/

.site-header {
    background-color: var(--basic-background);
    margin: 0 auto;
    overflow: visible;
    padding-bottom: 60px;
}

.header-top {
    margin: 0 auto;
    width: 100%;
    background-color: var(--basic-bluedark);
    overflow: visible;
}

.header-top-content {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    overflow: visible;
}

.search-container {
    display:flex;
    flex-direction: row;
    justify-content: end;
}

.tools-container {
    display:flex;
    flex-direction: row;
    justify-content: end;
}

.tools-container svg {
  opacity: .3;
}

.tools-container svg:hover {
  opacity: 1;
}

.tools-container a:hover svg {
  opacity: 1;
}

.header-top-content a {
    color: var(--basic-white);
}

.logo-field {
    position: relative;
    display: block;
    width: 220px;
    height: 42px;
    background: var(--basic-red);
    overflow: visible;
    text-align: center;
    padding-top: 13px;
}

.logo-field:active {
    background-color: var(--special-error);
}

.logo-field:after {
    content: "";
    display: block;
    height: 5px;
    background: var(--special-error);
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.search-form {
    position: relative;
}

.icon-search {
    position: absolute;
    z-index: 2;
    color: var(--basic-white);
    opacity: 0.3;
    left: 17px;
    top: 12px;
}

.search-form:hover .icon-search {
    opacity: 1;
}

.search-field {
    width: 271px;
    min-height: 42px;
    padding-left: 42px;
    border:0;
    color: var(--basic-black);
    background-color: var(--basic-bluedark);
}

.search-field:focus {
    border:0;
    color: var(--basic-black);
    background-color: var(--basic-white);
    outline: none;
}

.search-field:focus+.icon-search {
    color: var(--basic-red);
    opacity: 1;
}

.search-form input::-webkit-input-placeholder {
    color: var(--basic-white);
}

.search-container svg {
    opacity: .3;
}

.search-container svg:hover {
    opacity: 1;
}

.search-container a:hover svg {
    opacity: 1;
}

.bookmark,
.basket {
    width: 150px;
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmark svg,
.basket svg {
    margin-right: 9px;
}

.bookmark:active, .basket:active {
    background-color: var(--special-dark-background);
    opacity: .3;
}

.bookmark a:after {
    content: "0";
    font: 17px/18px Cuprum,sans-serif;
    color: var(--basic-white);
    padding-left: 3px;
}

.order {
    width: 150px;
    min-height: 42px;
    background-color: var(--basic-green);
    text-align: center;
    padding-top: 9px;
}

.order:hover {
    background-color: var(--special-success);
}

.order:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--basic-green);
}

.marked {
    background-color: var(--basic-red);
}

.header-address {
    min-height: 158px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 43px;
    padding-bottom: 35px;
}

.header-address-left {
    width: 197px;
    flex-basis: 197px;
    margin-left: 30px;
    margin-right: 85px;
    color: var(--basic-red);
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
}

.header-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--basic-red);
    font-size: 21px;
    line-height: 30px;
    width: 270px;
    padding: 5px 44px 5px 35px;
    border: 3px solid var(--basic-white);
    margin-bottom: 2px;

}

.header-phone svg {
    margin-right: 16px;
}

.header-address .address-text {
    color: var(--basic-text);
    font-size: 14px;
    line-height: 24px;
}

.header-address-center {
    min-width: 270px;
    text-align: center;
    padding-top: 3px;
    margin-right: 40px;
}

.user-interface {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 3px;
}

.user-entrance {
    position: relative;
    display: block;
    text-align: center;
    width: 121px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    background-color: var(--basic-white);
}

.user-entrance svg {
    position: absolute;
    left: 19px;
    top: 14px;
}

.user-registration {
    display: block;
    text-align: center;
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--basic-white);
}

.user-interface-catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 3px;
}

.user-interface-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 299px;
    padding: 12px 15px;
    background-color: var(--basic-white);
    margin-bottom: 7px;
}

.user-interface-container a {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    display: block;
}

.user-interface-container svg {
    color: var(--basic-greylight)
}

.user-interface-container svg:hover {
    color: var(--basic-text)
}

.user-interface-container svg:active {
    color: var(--basic-greylight)
}

.user-interface-link {
    display: flex;
    justify-content: center;
}

.user-interface-link a {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-text);
}

.user-interface-link a:hover {
    color: var(--basic-red);
}

.user-interface-link a:active {
    color: var(--basic-greylight);
}

.user-name {
    width: 232px;
}

.user-name svg {
    margin-right: 15px;
}

.user-interface a:last-child {
    margin-left: 10px;
    width: 150px;
}

.user-interface a {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.user-interface svg {
    color:var(--basic-greylight);
}

.user-interface a:hover {
    color: var(--basic-red);
}

a.user-name:hover {
    color: var(--basic-black);
}

.user-interface a:hover svg {
    color: var(--basic-grey);
}

.user-interface a:active {
    color: var(--basic-greylight);
}

.user-interface a:active svg {
    color: var(--basic-greylight);
}

.my-order::after {
    content: "\2022";
    color: var(--basic-text);
    margin: 0 14px;
}

.site-navigation {
    height: 60px;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.navigation-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 25px;
    background-color: var(--basic-text);
    box-shadow: inset 0px -5px 0px var(--basic-bluedark);
}

.site-navigation a {
    color: var(--basic-white);
}

.site-navigation li {
    height: 60px;
    list-style-type: none;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.site-navigation li:hover {
    background-color: var(--basic-bluedark);
}

.site-navigation li:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--special-list-nav-background);
    box-shadow: inset 0px -5px 0px var(--basic-bluedark);
}

.site-navigation li:active a {
    color: rgba(255, 255, 255, 0.5);
}

/*Main*/
.all-catalog {
    display: grid;
    gap: 20px;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 123px 123px 123px;
    padding-top: 59px;
    padding-bottom: 59px;
}

.box {
    position: relative;
    overflow: hidden;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 21px;
}

.box::after {
    background-image: url(../img/new-product.png);
    background-repeat: no-repeat;
    background-position: right top;
    z-index: 2;
}

.box h3 {
    margin-bottom: 13px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
}

.box a {
    display: block;
    width: 135px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-white);
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
}

.box a:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.box a:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.materials {
    grid-column-start: 1;
    grid-column-end: 5;
    padding-left: 22px;
    min-width: 135px;
    background-color: var(--special-yellow);
    background-image: url(../img/icon-materials.png);
    background-repeat: no-repeat;
    background-position: 83% 53%;
}

.tools {
    grid-column-start: 5;
    grid-column-end: 9;
    padding-left: 22px;
    min-width: 135px;
    background-color: var(--special-blue);
    background-image: url(../img/icon-tools.png);
    background-repeat: no-repeat;
    background-position: 86% 53%;
}

.technic {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    padding-left: 22px;
    min-width: 135px;
    background-color: var(--special-lilac);
    background-image: url(../img/icon-technic.png);
    background-repeat: no-repeat;
    background-position: 86% 50%;
}

.sales {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;
    padding-left: 22px;
    min-width: 135px;
    background-color: var(--special-greenlight);
    background-image: url(../img/icon-sales.png);
    background-repeat: no-repeat;
    background-position: 81% 50%;
}

.delivery {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 3;
    padding-left: 22px;
    min-width: 135px;
    background-color: var(--special-background-orange);
    background-image: url(../img/icon-delivery.png);
    background-repeat: no-repeat;
    background-position: 86% 50%;
}

.slider {
    position: relative;
    min-height: 266px;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}

.slider-list {
    padding-left: 0;
}

.slider-list-header {
    height: 104px;
    padding-left: 24px;
    padding-top: 23px;
    background: var(--special-slider-header);
}

.slider p {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.slider-list-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-wrapper-1 {
    background-image: url(../img/slider-bg-perforator.jpg);
    background-repeat: no-repeat;
}

.site-wrapper-2 {
    background-image: url(../img/slider-bg-drill.png);
    background-repeat: no-repeat;
}

.slider-list-item h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--basic-white);
    margin-bottom: 5px;
}

.slider-list-item .button {
    display: block;
    width: 192px;
    margin-top: 97px;
    margin-bottom: 27px;
    margin-left: 24px;
}

.icon-prew {
    width: 22px;
    height: 40px;
    background-image: url(../img/slider-icon-prew.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 54%;
    left: 25px;
    margin-top: -22px;
    cursor: pointer;
    z-index: 100;
}

.icon-next {
    width: 22px;
    height: 40px;
    background-image: url(../img/slider-icon-next.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 54%;
    right: 21px;
    margin-top: -22px;
    cursor: pointer;
    z-index: 5;
}

.slider-controls {
    position: absolute;
    bottom: 36px;
    left: 47.5%;
    z-index: 20;
    display: flex;
    width: 30px;
    justify-content: space-between;
  }

.slider-controls button {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .current {
    background-color: var(--basic-red);
}

.catalog-product {
    width: 940px;
    margin: 0 auto;
    padding-top: 19px;
}

.catalog-product h1 {
    height: 89px;
    padding-left: 29px;
    background-color: var(--special-background-grey);
}

.popular-product-line,
.popular-manufacturers-line {
    height: 89px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--special-background-popular);
    padding-left: 28px;
    padding-right: 14px;
    margin-bottom: 20px;
}

.popular-manufacturers-line {
    padding-right: 19px;
}

.popular-product-line h2,
.popular-manufacturers-line h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin-right: auto;
    text-transform: uppercase;
    color: var(--basic-text);
}

.popular-product-line .button,
.popular-manufacturers-line .button {
    width: 192px;
}

.catalog-product h1 {
    display: flex;
    align-items: center;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-text);
    margin-top: 16px;
    letter-spacing: -0.8px;
}

.bread-crumb {
    font-family: "PT Sans", Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
}

.bread-crumb li {
    position: relative;
    list-style-type: none;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-right: 35px;
}

.bread-crumb a {
    color: var(--basic-black);
}

.bread-crumb li::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    top: 5px;
    right: -22px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
}

.bread-crumb-current::after {
    display: none;
}

.filter-product legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
}

.filter-container {
    font-family: "PT Sans", Arial, sans-serif;
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    gap: 20px;
}

.filter-field {
    grid-column-start: 1;
    grid-column-end: 4;
}

.sort-container {
    grid-column-start: 4;
    grid-column-end: 13;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 220px;
    background-color: var(--special-background-beige);
    margin-bottom: 14px;
    border-radius: 3px;
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 700px;
    margin: 0 auto;
    background-color: var(--special-background-beige);
    border-radius: 3px;
}

.sort a {
    padding: 0;
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
    border-bottom: 1px dotted var(--basic-red);
    color: var(--basic-black);
    opacity:0.3;
}

.sort a:hover {
    border-bottom: 1px solid var(--basic-red);
    color: var(--basic-black);
    opacity: 1;
}

.sort a:active {
    border-bottom: 0;
    color: var(--basic-red);
}

.sort .sort-active {
    color: var(--basic-red);
    border-bottom: none;
    opacity: 1;
}

.sort-icon a {
    color: var(--basic-greylight);
    border:0;
}

.sort-icon a:hover {
    color: var(--basic-black);
    border:0;
}

.sort-icon a:active {
    color: var(--basic-red);
    border:0;
}

.sort-icon {
    width: 45px;
}

.sort-type {
    margin-left: 25px;
    margin-right: 25px;
}

.sort-icon a:first-child {
    margin-right: 19px;
}

.sort-title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-right: 95px;
}

.filter-item {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    border: none;
    border-bottom: 1px solid #EAEAEA;
}

.range-filter {
    width: 220px;
    margin-top: 11px;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--special-background-beige);
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: var(--special-range-line);
}

.range-controls .bar {
    width: 81%;
    height: 2px;
    background: var(--special-range-green-line);
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background: var(--special-range-control);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}

.price-controls input {
    width: 95px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: var(--special-background-beige);
    font-family: inherit;
    font-size: inherit;
}

.price-controls span {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--special-range-separator);
}

.makers {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #EAEAEA;
}

.supply {
    margin: 0;
    margin-top: 17px;
    padding: 0;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #EAEAEA;
}

.filter-field fieldset:last-child {
    border-bottom: none;
}

.makers-list,
.supply-list {
    padding-left: 35px;
}

.makers-list li:first-child,
.supply-list li:first-child {
    margin-top: 18px;
}

.supply-list li:first-child {
    margin-top: 24px;
}

.filter-option {
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    list-style: none;
    margin-bottom: 20px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 23px;
    height: 23px;
    border: 2px solid var(--basic-greylight);
    border-radius: 2px;
    z-index: 1;
}

.filter-input-checkbox:hover + label::before {
    border: 2px solid var(--special-filter-grey);
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -32px;
    width: 29px;
    height: 28px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 5;
}

.filter-input-radio + label::before {
    content: "";
    padding-right: 10px;
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    border: 4px solid var(--basic-greylight);
    border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after {
    border: 4px solid var(--special-filter-grey);
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -27px;
    width: 9px;
    height: 9px;
    background-color: var(--basic-greylight);
    border-radius: 50%;
}

.button-show {
    width: 220px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--basic-white);
    border: 1px solid var(--special-range-button)
}

.cards-container {
    width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 28px;
}

.cards-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-product {
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 220px;
    min-height: 318px;
    border: 1px solid var(--special-card-product-border);
    text-align: center;
    overflow: hidden;
}

.new-product::after {
    content: "NEW";
    font: 700 14px/32px Cuprum,Arial,sans-serif;
    display: block;
    position: absolute;
    width: 110px;
    height: 30px;
    text-align: center;
    color: var(--basic-white);
    background: var(--basic-red);
    transform: rotate(45deg);
    z-index: 5;
    top: 6px;
    right: -31px;
}

.card-product-img {
    height: 179px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 10px;
}

.card-product-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 21px;
    margin-top: 0;
    flex-grow: 1;
}

.card-product-text p{
    font-family: "PT Sans", Arial, sans-serif;
}

.name-product {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0 30px;
}

.card-product-text .old-coast {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--special-old-coast);
    text-decoration: line-through;
}
.old-coast {
    margin-top: 7px;
    margin-bottom: 14px;
}

.actual-coast-container {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 122px;
    margin: 0;
    margin-left: 44px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.actual-coast::after {
    content: "";
    border: 19px solid var(--basic-red);
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
    right: -38px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.buttons-card {
    position: absolute;
    top: 38px;
    left: 41px;
    width: 135px;
    display: none;
}

.card-product:hover {
    box-shadow: 6px 3px 45px -21px rgba(0,0,0,0.75);
}

.card-product:hover .buttons-card {
    display:flex;
    flex-direction: column;
}

.card-product:hover .card-product-img {
    opacity: 0;
}

.button-bookmark {
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid;
    border-color: var(--basic-green);
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--basic-white);
    color: var(--basic-text);
}

.button-buy {
    display: block;
    padding-top: 10px;
    width: 135px;
    min-height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
    margin: 0 auto 10px auto;
}

.button-buy:hover {
    background-color: var(--special-success);
}

.button-buy:active {
    background-color: var(--special-background-darkgreen);
}

.button-bookmark:hover {
    border-color: var(--basic-text);
}

.button-bookmark:active {
    border-color: var(--basic-text);
    opacity: 0.3;
}

.popular-manufacturers-line {
    margin-top: 52px;
}

.manufacturers-list {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.manufacturers-card {
    width: 220px;
    height: 145px;
    border: 1px solid var(--special-card-product-border);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.manufacturers-card:hover {
    box-shadow: 0px 0px 37px -16px rgba(0,0,0,0.75);
}

.manufacturers-card:active {
    opacity: 0.3;
}

.services {
    background-color: var(--basic-background);
}

.services p {
  font-family: "PT Sans", Arial, sans-serif;
}

.services-content {
    padding-top: 64px;
}

.services-header {
    margin-bottom: 25px;
}

.services-paragraph {
    width: 400px;
    margin-bottom: 70px;
}

.services-delivery {
    width: 619px;
    height: 285px;
    background-image: url(../img/services-car-background.png);
    background-repeat: no-repeat;
    background-position: 100% 80%;
}

.services-warranty {
    width: 619px;
    height: 285px;
    background-image: url(../img/services-warranty-background.png);
    background-repeat: no-repeat;
    background-position: 100% 80%;
}

.services-credit {
    width: 619px;
    height: 285px;
    background-image: url(../img/services-credit-background.png);
    background-repeat: no-repeat;
    background-position: 100% 80%;
}

.services-credit .button {
    display: block;
    width: 195px;
    margin-top: 25px;
}

.services-container-flex {
    display: flex;
    flex-direction: row;
}

.services-description h2 {
    margin-bottom: 30px;
    color: var(--basic-text);
}

.services-delivery p {
    width: 300px;
}

.services h2 {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 30px;
    line-height: 30px;
}

.services ul {
    list-style-type: none;
}

.services-description {
    padding-left: 80px;
}

.services-items-list {
    width: 240px;
    position: relative;
    padding-left: 0;
    padding-top: 3px;
}

.services-items-list::after {
    position: absolute;
    content: "";
    display: block;
    background: url(../img/shadow-item-list.png);
    background-repeat:  no-repeat;
    width: 10px;
    height: 272px;
    z-index: 10;
    right: 0;
    top: 35%;
    margin-top: -141px;
}

.services-items-list li {
    font-size: 21px;
    line-height: 30px;
    width: 240px;
    height: 61px;
    background-color: var(--basic-text);
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
    color: var(--basic-white);
    font-weight: 700;
    padding-left: 22px;
    padding-top: 15px;
}

.services-items-list li:hover {
    background-color: var(--basic-bluedark);
}

.services-items-list li.selected {
    color:var(--basic-text);
    background-color: var(--basic-white);
    box-shadow: 0px 1px 0px #FFFFFF;
}

.about-us {
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 70px;
}

.about-us h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 22px;
    letter-spacing: -1px;
}

.company-description {
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company-description p, .contacts p {
    font-family: "PT Sans", Arial, sans-serif;
}

.contacts {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts .button {
    width: 300px;
}

.about-us ul {
    padding-left: 0;
}

.company-description-item {
    position: relative;
    padding-left: 37px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    list-style-type: none;
}

.company-description-item::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0px;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
}

.company-description-list li:last-child {
    margin-bottom: 20px;
}

.button {
    padding: 11px 0 9px 0;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border: 0px;
}

.button-light {
    padding: 11px 0 9px 0;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: 0px;
}

.button:active {
    background-color: var(--special-error);
}

.company-description .button {
    width: 220px;
}

.map {
    margin-top: 32px;
    margin-bottom: 18px;
}

.pages {
    margin-top: 30px;
    margin-bottom: 50px;
}

.pages-list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.pages li {
    list-style: none;
    margin-left: 10px;
    margin-bottom: 10px;
}

.pages li:first-child {
    margin-left: 0;
}

.pages-list-link {
    text-transform: uppercase;
    color: var(--basic-black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid var(--special-range-button);
    width: 38px;
    height: 38px;
}

.pages-list-link:hover {
    border: 1px solid var(--basic-greylight);
}

.pages-list-link:active {
    border: 1px solid var(--basic-red);
}

.page-next {
    width: 140px;
    height: 38px;
    padding-right: 31px;
    padding-left: 32px;
}

.page-active {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 38px;
    height: 38px;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.article {
    background-color: var(--basic-background);
}

.article-content {
    padding-top: 64px;
    padding-bottom: 72px;
}

.article-content h3 {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.article-content p {
    font-family: "PT Sans", Arial, sans-serif;
    width: 920px;
    font-size: 13px;
    line-height: 24px;
}

/*Footer*/
.footer-container {
    background-color: var(--basic-text);
}

.footer-light {
    padding: 0 120px 54px 120px;
    margin: 0;

}

.footer-light-content {
    display: flex;
    flex-direction: row;
}

.footer-company-contacts {
    margin-right: auto;
}

.footer-light-content p,
.footer-light-content a {
    font-size: 18px;
    line-height: 24px;
    color: var(--special-footer-text);
}

.footer-light-content p {
    letter-spacing: 0.2px;
}

.footer-light-content li {
    list-style-type: none;
}

.logo-footer {
    display: block;
    margin-bottom: 16px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav-list-first,
.footer-nav-list-second {
    display: flex;
    flex-direction: row;
    width: 587px;
    justify-content: space-between;
}

.footer-nav-list-first {
    margin-top: 37px;
    margin-bottom: 34px;
}

.footer-nav-list-second li:first-child {
    margin-left: 23px;
}

.footer-nav ul:first-child a{
    color: var(--special-footer-text);
}

.footer-nav ul:last-child a{
    color: var(--special-yellowlight);
}

.footer-nav-link:hover {
    text-decoration: underline;
}

.footer-nav-link:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer-dark {
    background-color: var(--basic-bluedark);
    padding: 0 130px;
    margin: 0;
}

.footer-dark-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 23px;
}

.copyright {
    width: 227px;
}

.feedback {
    width: 137px;
}

.developer {
    width: 97px;
}

.social-network {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
}

.social-network li:last-child {
    margin-right: 72px;
}

.footer-dark-content li {
    list-style-type: none;
}

.feedback a,
.developer a {
    color: var(--special-yellowlight);
}

.footer-dark-content a:hover {
    text-decoration: underline;
}

.footer-dark-content a:active {
    text-decoration: none;
    color: var(--basic-red);
}

.social-link {
    color: var(--special-icon-socialnet);
}

.social-link:active,
.social-link:hover {
    color: var(--basic-red);
}

.phone-container {
    margin-right: 65px;
}

.modal {
    display: none;
    position: fixed;
    bottom: auto;
    width: 620px;
    top: 120px;
    right: 0;
    left: 0;
    margin: auto;
    border-top: 7px solid var(--basic-red);
    background-color: var(--basic-white);
}

.pop-up-letter-company {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal-login {
    padding: 0;
    border: none;
}

.modal-login label {
    font-size: 18px;
    line-height: 24px;
}

.modal-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 37px;
    padding-bottom: 27px;
    background-color: var(--special-modal-bg-grey);
}

.modal-bottom .button {
    width: 460px;
}

.modal-bottom-buy .button,
.modal-bottom-buy .button-light {
    width: 192px;
    margin-right: 10px;
}

.letter-company {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 13px;
    padding: 50px 80px;
}

.letter-company input {
    width: 220px;
    padding: 7px 8px 7px 12px;
    border: 2px solid var(--basic-greylight);
    box-sizing: border-box;
    border-radius: 2px;
}

.letter-company textarea {
    width: 460px;
    height: 114px;
    padding: 7px 8px 7px 12px;
    border: 2px solid var(--basic-greylight);
    box-sizing: border-box;
    border-radius: 2px;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 11px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 27px;
    height: 4px;
    background-color: var(--basic-red);
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.pop-up-add-goods {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 170px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding-left: 81px;
}

.pop-up-add-goods p::before {
    content: "";
    display: block;
    width: 66px;
    height: 66px;
    background-color: var(--basic-green);
    background-image: url(../img/popup-add-goods.svg);
    border-radius: 50%;
    margin-right: 28px;
}

.pop-up-add-goods-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-textarea {
    width: 100%;
    margin-top: 13px;
}

.modal-show {
    display: block;
    z-index: 30;
}

.hidden {
    display: none;
}

.modal-map {
    width: 943px;
    height: 449px;
}

.google-map {
    width: 943px;
    height: 449px;
}
